

.formlog{
    margin-top: 50px;
}

.buttonlog{
    background-color: aqua;
    width: 100px;
    height: 40px;
    border-radius: 10px;
}

.inputboxlog{
    width: 30%;
    border: 1px solid grey;
    margin-top: 30px;
    height: 40px;
    padding-left: 20px;
}
.imglog{
    margin-top: 10px;
    margin-left: 600px;
}