

.proddiv{
    margin-left:10px;
    height: 400px;
  border: 1px solid grey;
   width: 280px;
 text-align: start;
 margin-top: 20px;

}
.buttonaddtoc{
    background-color: blue;
    color: white;
    height: 45px;
    width: 100%;
    margin-top: 10px;
  
}


.proddiv :hover+ .buttonaddtoc{
    display: block;
}

